<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>MonSite</h5>
                <p>Un site moderne et professionnel</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p>&copy; 2025 MonSite. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>